#navlist {
    list-style-type: none;
}

#navlist li {
    display: inline-block;
    padding: 0 10px;
}

#results table {
    border: thin solid;
}

#results table th {
    border: thin solid;
}

label.level1 {
    padding-left: 1em;
}

label.level2 {
    padding-left: 2em;
}

label.level3 {
    padding-left: 3em;
}